absl-py
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
flatbuffers
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
Jinja2
jsonschema
keras==2.13.1
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
numpy==1.24.3
opencv-python-headless
packaging
pandas
pillow
protobuf==3.20.*
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
tensorboard
tensorflow==2.13.1
termcolor
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
